.charBlock {
    width: 70%;
    margin: 0 auto;
}

.autocomleteBlock {
    padding: 120px 0 0 0;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px
}

.favotieCard {
    color: red;          
}

.likeBtn {
    color: grey
}

.charList {
    width: 100%;
    max-width: 360px;
    padding: 0;

    li {
        padding: 0 0 0 30px;
        
        a {
            text-decoration: none;
        }
    }

    .avatar {
        width: 50px;
    }
}
